<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            text-align: center;
            background-color: #ffffff;
            padding: 2rem;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 2rem;
        }
        h1 {
            margin-bottom: 1.5rem;
            color: #343a40;
        }
        p {
            margin-bottom: 1.5rem;
            color: #495057;
        }
        .btn {
            padding: 0.75rem 1.5rem;
            font-size: 1.1rem;
        }
        .navbar-toggler {
            position: absolute;
            top: 1rem;
            right: 1rem;
        }
    </style>
</head>

<body>

    <div class="container">
        <h1>Selamat Datang di Web Pencatatan Pertanian</h1>
        <p>Temukan cara mudah dan efisien untuk mencatat dan mengelola data pertanian Anda. Bergabunglah dengan komunitas kami dan tingkatkan produktivitas pertanian Anda!</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Kelola Pupuk</h1>
                <p>Manajemen pupuk yang efisien adalah kunci untuk meningkatkan hasil panen. Gunakan halaman ini untuk mencatat dan mengelola penggunaan pupuk Anda.</p>
                <a href="/pupuk" class="btn btn-secondary">Kelola Pupuk</a>
            </div>
            <div class="col-md-6">
                <h1>Kelola Bibit</h1>
                <p>Kelola bibit Anda dengan baik untuk memastikan pertumbuhan tanaman yang optimal. Gunakan halaman ini untuk mencatat dan mengelola bibit yang Anda miliki.</p>
                <a href="/bibit" class="btn btn-secondary">Kelola Bibit</a>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>